* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 375px;
  font-family: 'poppins', sans-serif;
}

.background-img {
  background-image: url(./Images/header-bg.png);
  background-repeat: no-repeat;
  height: 600px;
  margin-left: 24px;
}

.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo-link {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  margin: 10px 0 0 12px;
}

.union-icon {
  width: 18px;
  height: 12px;
  margin: 6px 35px 0 3px;
  cursor: pointer;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  height: 150px;
  line-height: 52px;
  color: #172b4d;
  margin: 80px 24px 0 24px;
}

.self-intro {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 18px 24px 0 24px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #7f8cff;
  margin: 12px 0 12px 24px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-left: 24px;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, 327px);
  gap: 1rem;
}

.pages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px;
  width: 375px;
  height: 630px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 24px;
  margin-top: 10px;
}

.tonic {
  align-self: flex-start;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-top: 10px;
  margin-left: 24px;
  margin-bottom: 10px;
}

.list-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-self: flex-start;
  margin-left: 5px;
  margin-bottom: 10px;
}

.canopy {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  margin-left: 24px;
}

.job-title,
.year {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.short-info {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  width: 295px;
  height: 76px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  align-self: flex-start;
  gap: 15px;
  margin-left: 24px;
  margin-bottom: 13px;
}

.html-btn,
.css-btn,
.js-btn {
  cursor: pointer;
  background-color: #ebebff;
  border-radius: 8px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  border: none;
  color: #6070ff;
  padding: 4px 12px;
}

.html-btn {
  width: 53px;
  height: 24px;
}

.css-btn {
  width: 45px;
  height: 24px;
}

.js-btn {
  width: 89px;
  height: 24px;
}

.project-btn {
  align-self: flex-start;
  margin-left: 24px;
  margin-top: 13px;
}

.pro-btn {
  border-radius: 8px;
  border: 1px solid #6070ff;
  padding: 15px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  cursor: pointer;
}

.multi-post {
  align-self: flex-start;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #172b4d;
  width: 180px;
  margin-top: 10px;
  margin-left: 24px;
  margin-bottom: 10px;
}

/* used grid */

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: minmax(300px, 327px);
  max-height: 1263px;
  margin-top: 20px;
  margin-left: 40px;
  gap: 10px;
}

.about-heading {
  display: flex;
  align-items: center;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  width: 100px;
  color: #172b4d;
}

.my-intro {
  font-family: 'poppins', sans-serif;
  width: 327px;
  height: 144px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-to {
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.icons-2 {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.resume {
  display: flex;
  align-items: center;
  text-align: center;
  width: 180px;
  height: 54px;
  border-radius: 8px;
  padding: 20px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  border: 1px solid rgb(145, 145, 229);
  cursor: pointer;
  margin-bottom: 40px;
}

.languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang3 {
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.langs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-langs {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.framework,
.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./Images/contact-me.png);
  background-repeat: no-repeat;
  width: 375px;
  height: 779px;
  margin-top: 20px;
  margin-left: 20px;
}

.form-heading {
  display: flex;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 103px 0 12px;
}

.form-content {
  width: 327px;
  height: 102px;
  margin-left: 24px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 87px;
}

.name,
.email {
  background-color: #fff;
  width: 311px;
  height: 48px;
  border-radius: 8px;
  margin: 0 0 20px;
  padding: 0 0 0 16px;
  border: none;
}

.message {
  background-color: #fff;
  width: 311px;
  height: 170px;
  border-radius: 8px;
  padding: 10px 0 0 16px;
  border: none;
}

.submit {
  width: 140px;
  height: 48px;
  background-color: #fff;
  border-radius: 8px;
  color: #6070ff;
  float: left;
  margin-top: 22px;
  margin-left: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  border: none;
}

.contact-form {
  text-align: center;
}

.submit:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc3d;
  color: #fff;
}

.submit:active {
  background: #2230d2;
}

.submit:disabled {
  color: #5e6c84;
}
