@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

html {
  background-color: rgb(255 255 255);
  font-family: Poopins, sans-serif;
}

body {
  background: rgb(244 245 247);
  margin: 0;
  padding: 0;
}

/* top bar start */

.top-bar {
  margin: 0;
}

/* logo text start */
.nav-bar {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  padding-bottom: 26px;
}

.logo-placeholder {
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}

.logo-div {
  width: 76px;
  height: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.bt {
  width: 40px;
  height: 40px;
  background-color: rgb(255 255 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: rgb(255 255 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.squeezer {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 14px;
  background-color: rgb(255 255 255);
  align-items: center;
  justify-content: space-around;
}

.bt1 {
  width: 16px;
  border: 1px solid #6070ff;
  border-radius: 1px;
  background: #6070ff;
}

/* hamburger icon end */

/* top bar end */

/* headline section */

.welcome-section {
  background-color: #fff;
  border-radius: 0 0 0 85px;
}

.headline-wrapper {
  padding-bottom: 136px;
  background-image: url("./Images/intro_bg.svg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

.headline-container {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  padding-top: 101px;
}

.intro-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  margin: 0;
}

.intro-message {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.connect {
  color: #6070ff;
  margin: 0 0 12px;
}

h3 {
  margin: 0;
}

.social {
  display: flex;
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}

.twitter {
  background-image: url("./Images/t.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.tw-img {
  height: 20px;
  width: 20px;
}

.linkedin {
  background-image: url("./Images/l.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.lk-img {
  height: 20px;
  width: 20px;
}

.medium {
  background-image: url("./Images/m.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.m-img {
  height: 20px;
  width: 20px;
}

.git {
  background-image: url("./Images/g.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.g-img {
  height: 20px;
  width: 20px;
}

.angel {
  background-image: url("./Images/a.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.a-img {
  height: 20px;
  width: 20px;
}

/* work-section */
.works {
  display: grid;
  align-items: center;
}

.project1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 24px;
}

.project1 img {
  display: block;
}

.pri-text {
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}

.pri-text h1 {
  margin: 12px 0 0;
}

.det-text {
  display: flex;
  margin: 20px 0;
}

.det-text img {
  align-self: center;
  margin-left: 12px;
  margin-right: 12px;
}

.canopy {
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.detail {
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.des-text {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

form ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tag-text ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
  padding-left: 0;
  flex-wrap: wrap;
}

.tags {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.button {
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: none;
  padding: 12px;
  width: fit-content;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc3d;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
}

/* about section start */

.about {
  padding: 24px 24px 113px;
  background: #fff;
  border-radius: 0 70px 0 0;
  margin-top: 114px;
}

.about-text {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 114px;
}

.description {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.lets-con {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-1 {
  display: flex;
}

.social-1ist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 60%;
}

.social-icons {
  list-style: none;
}

/* languages */
.list-lang {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 48px;
  width: 100%;
}

.lang-arrow {
  display: flex;
  justify-content: space-between;
}

.lang-arrow img {
  margin-right: 40px;
}

.lang-arrow-right {
  transform: rotate(-90deg);
}

.lang-text {
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 0;
}

.lang-wrapper {
  margin-top: 36px;
}

.lang {
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.lang img {
  display: block;
  align-self: center;
  justify-content: center;
  margin: 9px 16px 9px 12px;
}

hr {
  margin: 0;
}

/* contact form */

.main-contact {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  border-top-left-radius: 80px;
}

.form-background {
  background-position-x: right;
  background-image: url(./Images/icons_form.png);
  background-repeat: no-repeat;
  margin-top: 20px;
  background-size: 61.8%;
  border-radius: 91px 0 0 0;
}

.form-fix {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-heading {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 103px 0 12px;
}

.form-content {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 45px;
  gap: 18px;
}

form ul > li {
  list-style-type: none;
}

.name,
.email {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
  width: 70%;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-family: 'Poppins', sans-serif;
}

.message {
  background-color: #fff;
  width: 80%;
  height: 170px;
  border-radius: 8px;
  padding: 10px 0 0 16px;
  border: none;
}

.submit {
  width: 140px;
  height: 48px;
  background-color: #fff;
  border-radius: 8px;
  color: #6070ff;
  float: left;
  margin-left: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  border: none;
}

.error {
  display: none;
  width: fit-content;
  color: white;
  font-family: 'Poppins-normal', sans-serif;
  font-size: 13px;
  transition: 0.5s ease-in-out;
  background-color: rgba(214, 23, 23, 0.877);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.3em;
  margin: 0.2em;
}

.error.active {
  display: block;
  transition: 0.5s ease-in-out;
}

/* Media query start */

/* desktop */

@media only screen and (min-width: 992px) {
  /* hide mobile */
  .nav-bar-mobile {
    display: none;
  }

  /* hide mobile */

  .nav-bar-desktop {
    display: flex;
    background-color: #fff;
    padding: 25px 154px 25px 155px;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100vw;
  }

  .nav-div {
    border: 1px solid red;
    background-color: aliceblue;
    display: flex;
  }

  .ul-flex {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .nav-bar-logo {
    margin: 0;
  }

  .nav-bar-project {
    margin: 0;
  }

  .nav-bar-about {
    margin: 0;
  }

  .nav-bar-contact {
    margin: 0;
  }

  .text-color-1 {
    color: #6070ff;
  }

  .text-color-2 {
    color: #344563;
  }

  .headline-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./Images/intro_desktop.svg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    height: calc(100vh - 72px);
    padding-bottom: 0;
  }

  .welcome-section {
    border-radius: 0 0 0 200px;
    min-height: 80vh;
  }

  .headline-container {
    padding-left: 236px;
    padding-top: 0;
    padding-right: 236px;
  }

  .intro-text {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
  }

  .intro-message {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  }

  /* about */
  .about {
    display: grid;
    grid-template-columns: 4fr 6fr;
    padding: 142px;
    align-items: baseline;
    gap: 50px;
  }

  .about-part1 {
    grid-column-start: 1;
  }

  .about-part2 {
    display: flex;
    width: 100%;
  }

  .about-text {
    margin-top: 0;
  }

  .lang-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    align-items: flex-start;
    margin-top: 0;
  }

  .lang {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding: 1em;
    margin: 0;
  }

  .project1 {
    flex-direction: row;
    margin: 142px 142px 0;
    padding: 24px;
    border-radius: 24px;
  }

  .project1 .snapshoot {
    display: block;
    align-self: center;
    justify-content: center;
    width: 50%;
    margin: 0;
    padding-right: 24px;
  }

  .project1:nth-child(even) .snapshoot {
    order: 2;
  }

  .project-part1 {
    padding: 24px;
  }

  .project-part1 img {
    display: block;
    align-self: center;
    justify-content: center;
  }

  .pri-text {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .uname {
    margin-top: 36px;
  }

  .modal-description {
    display: flex;
    gap: 20px;
  }

  .modal-body-decription {
    flex: 2;
  }

  .tech {
    flex: 1;
  }
}

/* mobile */

@media only screen and (max-width: 991px) {
  .nav-bar-desktop {
    display: none;
  }

  .mobile-menu-overlay {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    backdrop-filter: blur(6px);
    background: #6070ff;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .mobile-menu {
    list-style: none;
    padding: 106px 96px 0 28px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: white;
  }

  .mobile-menu a {
    color: white;
  }

  .mobile-menu > li {
    padding-bottom: 30px;
  }

  .close-mobile-menu {
    height: 12px;
    width: 12px;
    border-radius: 0;
    float: right;
    margin-right: 38px;
    margin-top: 62px;
    color: white;
  }

  .modal-description {
    display: block;
    color: #344563;
  }
}

/* popup  */
.modal-image {
  width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 10px;
}

.popup-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 40%);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.modal-body-decription {
  color: #344563;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 7px;
  border-radius: 50%;
}

.close:hover {
  background-color: #3f3f3f18;
}

.project-popups-links {
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.popup-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .mobile-menu-overlay {
    display: none;
  }

  #mobile-menu {
    display: none;
  }

  .form-heading {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-top: 195px;
  }

  .form-content {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    max-width: 569px;
    height: 102px;
    color: #ebebff;
  }

  form ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
  }

  form ul > li {
    list-style-type: none;
  }

  .name,
  .email {
    width: 447px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #cfd8dc;
    background: #fff;
  }

  .message {
    width: 447px;
    height: 170px;
    border: 1px solid #cdf8dc;
    border-radius: 2px;
    background: #fff;
  }

  .submit {
    width: 142px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 16px;
    background: #fff;
  }
}
